.j-gallery-preview{ 
    border-radius: 12px;
}
.j-gallery-progress-bar{
    background-color: white;
}
.j-gallery-thumbnails{
    background-color: white;
    display: none;
    border-radius: 8px;
    padding-top: 5px;
}
.j-gallery-thumbnail img{
    width: 100%;
    height: 80px;
}
